.btnContacto {
  font-family: 'Arial', sans-serif; /* Cambia a la fuente más parecida si la conoces */
  font-weight: 300; /* Tipografía ligera */
  font-size: 13px; /* Ajusta el tamaño del texto si es necesario */
  color: rgb(0, 0, 0); /* Color del texto */
  background-color: transparent; /* Fondo transparente por defecto */
  border: 2px solid #0d8300; /* Borde delgado con color */
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out; /* Suave transición de color y borde */
}

.btnContacto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #43ff503e; /* Color del relleno animado */
  z-index: 0;
  transform: scaleX(0); /* Inicialmente no visible */
  transform-origin: right;
  transition: transform 0.4s ease-in-out; /* Suave transición del relleno */
}

.btnContacto:hover::before {
  transform: scaleX(1); /* Al pasar el mouse, se rellena el botón */
  transform-origin: left; /* El relleno se desplaza de izquierda a derecha */
}

.btnContacto:hover {
  color: rgb(0, 0, 0); /* Cambia el color del texto al pasar el mouse */
}

.btnContacto span {
  position: relative;
  z-index: 10; /* El texto siempre está encima del relleno */
}

.btnContacto:hover {
  border-color:  #03741e; /* Mantiene el color del borde */
}
/* Responsividad para dispositivos muy pequeños (menor a 480px) */
@media (max-width: 480px) {
  .btnContacto {
    font-family: 'Arial', sans-serif; /* Cambia a la fuente más parecida si la conoces */
    font-weight: 300; /* Tipografía ligera */
    font-size: 12px; /* Ajusta el tamaño del texto si es necesario */
    color: rgb(0, 0, 0); /* Color del texto */
    background-color: transparent; /* Fondo transparente por defecto */
    border: 2px solid #0d8300; /* Borde delgado con color */
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out; /* Suave transición de color y borde */
  }
}